body {
    background-color: rgb(49, 49, 49);
    color: white;
    margin: auto;
    text-align: center;
}

h1 {
    font-family: monospace;
    text-decoration: underline;
    text-decoration-color: rgb(160, 160, 255);
    font-size: 3.3rem;
    letter-spacing: 0.4rem;
    text-shadow: 0 0 0#002bff;
    margin-bottom: 40px;
}


.lvl-select {
    margin: 30px auto;
}

.lvl-select-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    font-size: 1.375rem;

}

.btn-lvl {
    cursor: pointer;
    color: #fff;
    font-size: 1.375rem;
}



.panel-container {
    margin: 30px auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.life-panel,
.hint-panel {
    display: inline;
    margin: 0px 10px;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border: 2px solid gray;
    color: red;
    font-size: 1.575rem;

}

.hint-panel {
    cursor: pointer;
}



.number-1 {
    color: blue;
}

.number-2 {
    color: green;
}

.number-3 {
    color: red;
}

.number-4 {
    color: purple;
}

.number-5 {
    color: maroon;
}

.number-6 {
    color: turquoise;
}

.number-7 {
    color: black;
}

.number-8 {
    color: gray;
}

.game-panel {
    padding: 5px;
    border: 2px solid gray;
    line-height: 2;
}


.counter-box {
    font-size: 1.1875rem;
}

.btn-start {
    cursor: pointer;
    box-shadow: rgb(245, 182, 182);
    margin: 0 60px;
}

.timer {
    font-weight: bold;
    font-size: 1.1875rem;
}

.table-container {
    display: flex;
}

table {
    margin: 20px auto;
    background-color: #c0c0c0;
    border-spacing: 0.3px;
    border: 0.3px solid rgb(160, 160, 255)
}

.cell {
    text-align: center;
    background-color: rgba(147, 154, 166, 0.654);
    cursor: pointer;
    font-weight: 700;
    border-color: rgb(41, 37, 37);
    border-left: 1.5px solid #e3dbdb;
    border-top: 1.5px solid #ddcfcf;
    box-shadow: inset 0 0 2px 3px #b2afaf;
    padding: 5px;
}

.cell-clicked {
    background-color: #b5aeae;
    border: 1.5px solid rgba(81, 80, 80, 0.668);
}


.cell-beginner {
    height: 70px;
    width: 70px;
    font-size: 1.1875rem;
}

.cell-medium {
    height: 35px;
    width: 35px;
    font-size: 1.1875rem;
}

.cell-expert {
    height: 25px;
    width: 25px;
}

.cell img {
    width: 90%;
    height: auto;
}

.marked {
    background-color: rgb(71, 70, 70);
    box-shadow: unset;
}

.mine-clicked {
    background-color: rgb(243, 75, 75);
    border: 1.5px solid rgb(58, 57, 57);
    box-shadow: unset
}

/* 
========================
  GLOW BTN.
========================
*/

.glow-on-hover {
    padding: 10px;
    border: none;
    outline: none;
    background: #111;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 5px;
    border: 0.01em solid rgb(160, 160, 255);
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.marked-lvl{
    border: 0.1em solid red;
}



/* 
========================
  SHOW || HIDE ELEMENT
========================
*/

.show {
    display: block;
}

.hide {
    visibility: hidden;
}